*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 /* Custom Properties  */

 :root{
     --dark: #303841;
     --half-dark: #3a4750;
     --red: #d72323;
     --white: #eeeeee;
 }

body{
    background-color: var(--white);
}

#header{
    background-color: var(--half-dark);
    color: white;
}

h1{
    font-size: 3rem;
}

p{
    background-color: var(--red);
}


@media(max-width: 600px)
{
    h1{
        font-size: 1rem;
    }
}